*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   

}
.container  {
    width: 1440px;
    height: 2455px;
 
    
}
.forimg{
   background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.00) 100%);
    width: 100%;
    height: 640px;
}
.linear{
    width: 100%;
    height: 640px;
    background-image: url(backgroundimg.png);
    
}


.nav    {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1440px;
    height: 68px;
    padding-left: 60px;
    padding-right: 60px;
    fill: linear-gradient(90deg, #000 0%, rgba(0, 0, 0, 0.00) 100%);
    
}
.navtext{
    display: flex;
    gap: 24px;
   
}
.navtext>a{
    text-decoration: none;
    color: white;
}
.navicon{


}
.navimg {
    display: flex;
    gap: 15px   ;

}
.main >ul{
    display: flex;
    gap: 30px
    ;
    padding-top: 60px;
    padding-left: 90px;
    color: white;

}
.main>h1{
    color: #FFF;
font-family: Clarika Geometric;
font-size: 80px;
font-style: normal;
font-weight: 700;
line-height: 96px; /* 120% */
letter-spacing: -3.2px;
width: 690px;
padding-left: 80px;
padding-top: 40px;
}
.main>p{
    color: rgba(255, 255, 255, 0.70);
    font-family: Clarika Geometric;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 133.333% */
    letter-spacing: -0.96px;
    width: 521px;
    padding-left:  80px; 

}
.bottom>h1{

color: var(--text-text-v-1, #0E0E2C);
font-family: Clarika Geometric;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 57.6px */
letter-spacing: 0.24px;

}
.bottom>p{
    color: var(--light-base-color-black, #000);
font-family: Clarika Geometric;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 133.333% */
letter-spacing: -0.96px;
width: 1110px;
}
.bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer{
    
    display: flex;
    flex-wrap: wrap;
    align-items: center ;
    justify-content: center;
    padding-left: 165px;
    padding-right: 165px;
    gap: 10px;
    padding-top: 48px;
    padding-bottom: 50px;
    

}
.footer>img{
    width: 265px;
height: 265px;
flex-shrink: 0;
border-radius: 5.315px;
/* background: linear-gradient(8deg, #293748 -0.77%, rgba(41, 55, 72, 0.00) 63.64%); */
flex-direction: column;

    
}
.footer2{
    
    border-top: 2px solid  #9A9AB0;;
    padding-top: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 364px;
    padding-left: 164px;
    padding-right: 165px;
    background: url(./image\ 36\ \(Traced\).png);
background-repeat: no-repeat;
background-position: bottom;
flex-direction: column;

}
.footer5{
    width: 133px;
    display: inline-flex;
    padding: 0px 40px 12px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 93px;
    height: 146px;
  
    
  
    
 
}

.footer1>p{
    color: #0C111F;
font-family: Clarika Geometric;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 30px; /* 187.5% */
letter-spacing: -0.64px;
width: 412px;


}
.footer1{
     gap: 20px   ;
display: flex;
 flex-direction: column; 

}
.footer3{
    display: inline-flex;
padding-bottom: 0px;
flex-direction: column;
align-items: flex-start;
gap: 20px;
}
.footer1>img{
    width: 135px;
height: 56px;
flex-shrink: 0;
}
.footer5>img{
    width: 19.556px;
height: 15.889px;
flex-shrink: 0;

}
.footer5>div{
    display: flex;

}
.footer4{
    display: flex;
width: 133px;
padding-bottom: 0px;
flex-direction: column;
align-items: flex-start;
gap: 20px;
}
.nav1{
    display: flex;
    flex-direction: column;
    height: 100px;
    padding-top: 30px;
    justify-content: center;
}
.wrap{
    display: flex;
    justify-content: space-between;
    gap: 100px   ;
}