*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  
    
}
.flex{
    display: flex;
    text-align: center;
    align-items: center;
    gap: 10px   ;
}

    
  
    
 

.container  {

}